* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body {
    position: relative;
    font-family: 'Kumbh Sans', sans-serif;
    z-index: 1;
    
}
.section-1 {
    position: relative;
    background-color: #f0f0f0;
    background-image: url('assets/home/bg-pattern-header.svg');
    background-repeat: no-repeat;
    background-size: 125%;
    background-position: 50% -57%;
    z-index: 1;
    
}
.content-container{
    border: 1px solid black;
    margin: 0 20px;
    
}
.container-1 {
    border: 1px solid yellow;
    height: 800px;
    
}
.header-img {
    width: 175px;
    display: block;
    margin: 30px auto;
}
.hero-img {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    width: 55%;
    height: 110%;
}
.column-1 {
    border: 1px solid green;
    margin: 30px 0;
}
.column-2 {
    border: 1px solid red;


}
.container-header {
    text-align: center;
    font-size: 37px;
    color: #25293A;
}
.container-para {
    text-align: center;
}
.container-2 {
    border: 1px solid blue;
    height: 500px;
    
}
.section-2 {
    background-color: #333950;
    
}
.card-container {
    position: absolute;
    height: 500px;
    width: 100%;
    bottom: 175px; /* Change this to position card container up and down */
    left: 15%;
    z-index: 100;
    overflow: visible;
}
.card {
    height: 150px;
    border: 1px solid teal;
    width: 70%;
}
.content-1 {
    border: 1px solid magenta;
    height: 75px;
}
.content-2 {
    border: 1px solid red;
    height: 75px;
}

@media screen and (min-width: 768px) {
    .flex-container {
        display: flex;
        flex-direction: row-reverse;
        
    }
    .column {
        flex-grow: 1;
        width: 50%;
        margin: 0;
    }
    .card {
        display: flex;
        flex-direction: row;
    }
    .content {
        height: 100%;
        width: 50%;
    }
}