* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    position: relative;
    font-family: 'Kumbh Sans', sans-serif;
    z-index: 1;
    margin: 0;
    height: 100%;
    
}
a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
/* Default button */
.button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 25px;
    background-color: #5175FF;
    border: none;
    height: 50px;
    width: 150px;
    color: #ffffff;
}
/* --------------- 1st Section of Content --------------- */
.section-1 {
    position: relative;
    background-color:  #F9F9F9;
    background-image: url('assets/home/bg-pattern-header.svg');
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: 50% -200px;
    z-index: 1;  
}

/* --- Content Container Attributes --- */
.content-container {
    width: 90%;
    margin: 0 auto;
}

/* -- 1st Container Attributes -- */
.container-1 {
    height: 1500px;    
}

.container-1-logo {
    width: 175px;
    display: block;
    margin: 0px auto;
}

/* - Section 1 Flex Items - */
.item {
    width: 330px;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* Flex Item 1 */

.flex-item-1-img {
    display: block;
    margin: 40px auto;
    padding-top: 20px;
    width: 175px;
    height: 110%;
}

/* Flex Item 2 */

.flex-item-2-header {
    text-align: center;
    font-size: 37px;
    color: #25293A;
    line-height: 45px;
    margin-bottom: 25px;
}


.flex-item-2-para {
    text-align: center;
    color: #747B95;
    line-height: 25px;
}
.header-button {
    display: block;
    margin: 20px auto;
}

/* --------------- 2nd Section of Content --------------- */
.section-2 {
    background-color: #333950;
    position: relative;
    background-image: url('assets/home/bg-pattern-footer.svg');
    background-repeat: no-repeat;
    background-size: 650px;
    background-position: 50% 100%;
    z-index: 1; 
    
}

/* -- 2nd Container Attributes -- */
.container-2 {
    height: 1000px; 
 
}

/* ----- Subscription Card Attributes ------ */

/* --- Card Container --- */
.card-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 1200px;
    width: 100%;
    margin: 0 auto;
    bottom: 390px; /* Change this to position card container up and down */
    right: 0px;
    z-index: 100;
    overflow: visible;     
}


/* -- Card Attributes -- */
.card {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    overflow-y: hidden;
}

/* - 1st Content on the Card - */
.content-1 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 50%;
    width: 100%;
}

.card-header {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.card-price {
    font-size: 40px;
    margin-bottom: 5px;
}

.card-header-para {
    font-size: 16px;
}

.tablet-card-button {
    display: none;
    height: 0;
    width: 0;
}

/* - 2nd Content on the Card - */
.content-2 {
    height: 50%;
}

.card-content-2-para {
    display: block;
    margin: 15px 0;
    font-size: 15px;
    color: #747B95;
}
.mobile-card-button {
    background-color: #829CFA;
    box-shadow: none;
}

/* ---- Date and Time Container ---- */
.date-time-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    height: 200px;
    top: 650px;
    margin: 0 auto;
}

.time-container {
    display: flex;
    width: 300px;
    height: 100px;
    justify-content: center;
}
.time {
    height: 85px;
    width: 80px;
    color: #ffffff;
    text-align: center;
    background-color: #232941;
    margin: 5px 5px;
    padding: 20px 10px;
}
.date-coming {
    color: #ffffff;
}
.date {
    color: #829CFA;
}
#day {
    font-weight: 700;
    font-size: 25px;
}
#hour {
    font-weight: 700;
    font-size: 25px;
}
#min {
    font-weight: 700;
    font-size: 25px;
}
#sec {
    font-weight: 700;
    font-size: 25px;
}
.time-button {
    margin-top: 5px;
}
.date-time-flex-item-1 {
    text-align: center;
}

/* ----------- Tablet Styles ----------- */
@media screen and (min-width: 768px) {
    .section-1 {
        background-position: 185% -35%;
        background-size: 600px;
        height: 1200px;
    }
    .content-container {
        height: 100%;
    }
    header {
        height: 100px;
        padding-top: 60px;
        
    }
    .container-1-logo {
        height: 40px;
        width: 220px;
        margin-left: 0;
    }
    .container-1-flex-container {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 100px;
    }
    .item {
        flex-grow: 1;
        width: 50%;
        margin: 0;
    }
    .flex-item-1-img {
        padding-top: 10px;
        margin: 40px auto;
        width: 300px;
        height: 85%;
    }
    .container-1-flex-item-2 {
        padding: 10px;
    }
    .flex-item-2-header {
        text-align: left;
        font-size: 40px;
        margin-bottom: 15px;
    } 
    .flex-item-2-para {
        text-align: left;
        line-height: 30px;
        font-size: 20px;
    }
    .header-button {
        margin: 45px 0;
    }
    
    .section-2 {
        height: 800px;
    }
    .container-2 {
        height: 100%;
    }
    .card-container {
        width: 100%;
        height: 900px;
        bottom: 350px;
        margin: 0 auto;
    }
    .card {
        flex-direction: row;
        width: 700px;
        height: 275px;
        text-align: left;
        margin-bottom: 8px;
    }
    .content-1 {
        width: 50%;
        height: 100%;
        padding: 0 20px;
    }
    .content {
        height: 100%;
        width: 50%;
    }
    .card-header {
        margin-bottom: 20px;
    }
    .card-price {
        margin-bottom: 10px;
    }
    .card-header-para {
        margin-bottom: 25px;
    }
    .tablet-card-button {
        display: block;
        border: none;
        border-radius: 25px;
        height: 50px;
        width: 150px;
        box-shadow: none;
    }
    .content-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        height: 100%;
        padding: 0 10px;
    }
    .mobile-card-button {
        display: none;
        height: 0;
        width: 0;
    }
    .date-time-container {
        top: 470px;
    }
}

/* ----------- Laptop and Desktop Stylings ----------- */
@media screen and (min-width: 1024px) {
    .section-1 {
        height: 1000px;
        background-size: 775px;
        background-position: 500px -80%;
    }
    .flex-item-1-img {
        width: 350px;
    }
    .flex-item-2-para {
        font-size: 16px;
    }
    .header-button {
        margin: 20px 0;
    }
    .item-1 {
        width: 45%;
    }
    .item-2 {
        width: 55%;
        padding-top: 90px;
    }
    .section-2 {
        height: 600px;
        background-size: 1000px;
        background-position: -300px 25%
    }
    .container-1 {
        height: 600px;
        padding: 0 8%;
    }
    .card-container {
        flex-direction: row;
        width: 80%;
        margin: 0 10%;
        bottom: 25px;
        height: 800px;
    }
    .card {
        flex-direction: column;
        height: 450px;
        width: 260px;
        justify-content: space-around;
        
        box-shadow: none;
    }
    .content-1 {
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    .content-2 {
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    .mobile-card-button {
        display: block;
        height: 50px;
        width: 150px;
        margin: 0 auto;
    }
    .tablet-card-button {
        display: none;
        height: 0;
        width: 0;
    }
    .date-time-container {
        top: 300px;
        flex-direction: row;
        width: 820px;
        padding: 0;
        justify-content: space-between;
    }
    .date-time-flex-item-1 {
        text-align: left;
    }
}